<div class="page-container" [class]="currentTeam + '-team'">
  <div class="game-header mt-2">
    <app-game-bar
      class="inserted-component"
      [username]="username"
      [team]="team"
      [isSpymaster]="isSpymaster"
      [isEndGuessingAvailable]="currentTeam == team && currentPhase == 'guess' && !isSpymaster"
    ></app-game-bar>
    <div class="game-prompt cap {{ currentTeam }}">
      {{ currentTeam }} team's turn. @if (currentPhase == "clue") {
      <span>Spymaster, give a clue.</span>
      } @else {
      <span
        >Operatives, make your guesses. <br />
        <i>({{ remainingGuesses }} guesses left)</i></span
      >
      }
    </div>
  </div>
  <div class="game-content">
    <div class="side-bar">
      <div
        class="clue-container"
        [class.blurred]="this.currentPhase === 'clue'"
      >
        <app-hint-display class="inserted-component"></app-hint-display>
      </div>
      <div
        class="clue-form"
        *ngIf="isSpymaster"
        [class.blurred]="
          !(this.team === this.currentTeam && this.currentPhase === 'clue')
        "
      >
        <app-hint-form class="inserted-component"></app-hint-form>
      </div>
      <div class="clue-history">
        <app-hint-history class="inserted-component"></app-hint-history>
      </div>
    </div>
    <div class="card-area">
      <div *ngFor="let card of cards; let i = index" class="card-container">
        <app-card
          [card]="card"
          [index]="i"
          [team]="team"
          [turn]="currentTeam"
          [phase]="currentPhase"
          [isSpymasterMode]="isSpymaster"
          class="inserted-component"
        ></app-card>
      </div>
    </div>
  </div>
</div>
