.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-area {
  background-color: var(--plum);
  height: 100%;
  aspect-ratio: 1;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
