.chat-background {
  background-color: var(--white);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .chat-part {
    flex: 1 1 auto;
  }
  .form-part, .chat-name {
    flex: 0 0 auto;
  }
}

.chat-name {
  background-color: var(--plum);
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  z-index: 1;
}
