<div class="page-container mt-4 mb-4">
  <div class="header text-center container d-flex text-white mb-4 align-items-stretch justify-content-center">
    <div class="p-0">
      <img src="Spy_m.png" class="img-fluid fs-1" style="max-height:3.5em;"/>
    </div>
    <div class="d-flex flex-column justify-content-end text-white ms-md-4 ms-1 me-md-4 me-1">
      <h1 class="main-title">Codenames <br> <small>Pictures</small></h1>
      <h5 class="secondary-title">Become the best spy squad through one-word image associations</h5>
    </div>
    <div class="p-0">
      <img src="Spy_f.png" class="img-fluid fs-1" style="max-height:3.5em;"/>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center mt-3 bg-white">
          <div class="card-body">
            <h5 class="card-title">Play now</h5>
            <hr>
            <p class="card-text mb-4">Create a new room or join an existing room with your friends.</p>
            <div class="m-1">
              <a href="#" class="btn btn-custom w-100">Create room</a>
            </div>
            <div class="m-1">
              <a href="#" class="btn btn-custom w-100">Join room</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">How to play?</h5>
            <hr>
            <div class="card-text ps-3 pe-3">
              <div>Section to be filled.</div>
              <div class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta erat a odio fringilla, et pulvinar quam condimentum. Duis lorem magna, blandit ac ipsum sed, tempus gravida odio. Vivamus non orci venenatis, lobortis nunc quis, tempus turpis. Quisque ac ipsum nisi. Praesent rhoncus turpis ac purus luctus consequat. Vivamus semper et orci eget sodales. Aenean scelerisque lacus ut metus euismod, in aliquam dolor interdum. Aenean fringilla leo eget semper viverra. Praesent accumsan at nisl nec sagittis. Phasellus gravida sagittis maximus. Etiam fringilla tortor sed urna semper interdum.

  Donec in tellus malesuada, sodales orci vel, vulputate lectus. Nunc non sapien et nisi ullamcorper luctus. Donec molestie sit amet sapien accumsan pulvinar. Nullam mauris odio, ultrices vitae enim ac, hendrerit interdum arcu. Phasellus quis dolor auctor, vehicula odio vel, auctor justo. Suspendisse viverra erat orci, in convallis nisi blandit ac. Phasellus mollis, lectus a lobortis blandit, enim massa vulputate quam, et eleifend lectus velit non enim. Phasellus posuere, lectus nec tempus mattis, nisi ex mollis neque, nec congue dui sapien eget tortor. Fusce fringilla ligula et magna condimentum molestie. Duis non fringilla arcu, eget gravida diam. Fusce mattis nisl eu tellus posuere, quis posuere elit bibendum.

  Morbi non volutpat mauris. Nunc consectetur tincidunt massa id commodo. Ut in diam mollis mi aliquet suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi vitae faucibus turpis. Nullam rutrum, diam in mattis molestie, dolor libero vehicula tortor, ac egestas sapien ligula vitae felis. Morbi quam felis, bibendum a dui vitae, pharetra euismod urna. Quisque vel pharetra ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum et consectetur diam. Fusce gravida quam et tortor imperdiet imperdiet. In non dui nec lacus mattis placerat. Integer et nibh pellentesque, sodales dolor eu, consectetur neque. Phasellus sollicitudin commodo eleifend. Sed dictum scelerisque hendrerit.
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

