<app-game class="inserted-component"></app-game>
<div class="overlay" [class.hidden]="!isRoomWindowVisible">
  <div class="shader"></div>
  <div class="centred">
    <app-room-menu class="inserted-component" (startGame)="startGame()" (leaveGame)="leaveGame()"></app-room-menu>
  </div>
</div>
<div class="overlay" [class.hidden]="!winner">
  <div class="shader"></div>
  <div class="centred">
    <app-game-summary class="inserted-component" [winner]="winner" (restartGame)="restartGame()" (leaveGame)="leaveGame()"></app-game-summary>
  </div>
</div>
<div class="chat-container" [class.open]="isGlobalChatOpen">
  <div class="chat-handle">
    <button class="btn btn-beige" (click)="toggleGlobalChat()"><span class="material-icons">public</span></button>
    <div class="notification-icon" *ngIf="isGlobalChatNew"></div>
  </div>
  <app-chat class="inserted-component" [name]="'Global Chat'" [type]="'global'"></app-chat>
</div>
<div class="chat-container" [class.open]="isTeamChatOpen">
  <div class="team-chat-handle">
    <button class="btn btn-beige" (click)="toggleTeamChat()"><span class="material-icons">groups</span></button>
    <div class="notification-icon" *ngIf="isTeamChatNew"></div>
  </div>
  <app-chat class="inserted-component" [name]="'Team Chat'"></app-chat>
</div>
