.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
  display: block;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.centred {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  padding: 0 10%;
}

.overlay.hidden {
  display: none;
}

@media (max-width: 800px) {
  .centred {
    padding: 0 1%;
  }
}
