<!--<div class="image-container">
  <img [src]="card.getFilePath()" alt="Card Image" [class]="card.isSecret ? 'bw' : '' " />
</div>-->
<div class="image-container" (click)="flipImage()" [class]="isFlipped ? 'flipped' : ''">
  <div class="image-flip">
    <div class="front" [class]="isSpymasterMode? 'spymaster '+card.colour : 'non-spymaster '+team">
      <img [src]="card.getFilePath()" alt="Front Image" />
    </div>
    <div class="back">
      <img [src]="card.getBackFilePath()" alt="Back Image" />
    </div>
  </div>
</div>

