<div class="image-container team-{{team}}" (click)="highlightCard()" [ngClass]="{'flipped': !card.isSecret}">
  <div class="image-flip">
    <div class="front" [class]="cardClass">
      <img [src]="card.getFilePath()" alt="Front Image" draggable="false" />
    </div>
    <div class="back">
      <img [src]="card.isSecret ? '/agents/grey-1.jpg': card.getBackFilePath()" alt="Back Image" />
    </div>
  </div>
  <div class="flip-btn" (click)="flipCard()" *ngIf="turn == team && phase == 'guess' && card.isSecret && card.isHighlighted && !isSpymasterMode">
    <span class="material-icons">task_alt</span>
  </div>
</div>
<svg width="0" height="0" style="position: absolute;">
  <filter id="redMultiply">
    <!-- Flood the overlay color -->
    <feFlood result="flood" flood-color="var(--red)" flood-opacity="1"/>
    <!-- Apply it over the image -->
    <feComposite in="flood" in2="SourceGraphic" operator="in" result="overlay"/>
    <!-- Blend the original image with the overlay -->
    <feBlend mode="multiply" in="SourceGraphic" in2="overlay"/>
  </filter>
</svg>
<svg width="0" height="0" style="position: absolute;">
  <filter id="blueMultiply">
    <!-- Flood the overlay color -->
    <feFlood result="flood" flood-color="var(--blue)" flood-opacity="1"/>
    <!-- Apply it over the image -->
    <feComposite in="flood" in2="SourceGraphic" operator="in" result="overlay"/>
    <!-- Blend the original image with the overlay -->
    <feBlend mode="multiply" in="SourceGraphic" in2="overlay"/>
  </filter>
</svg>
<svg width="0" height="0" style="position: absolute;">
  <filter id="greyMultiply">
    <!-- Flood the overlay color -->
    <feFlood result="flood" flood-color="var(--grey)" flood-opacity="1"/>
    <!-- Apply it over the image -->
    <feComposite in="flood" in2="SourceGraphic" operator="in" result="overlay"/>
    <!-- Blend the original image with the overlay -->
    <feBlend mode="multiply" in="SourceGraphic" in2="overlay"/>
  </filter>
</svg>

