.image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
  &.team-blue {
    --team-colour: var(--blue);
  }
  &.team-red {
    --team-colour: var(--lighter-red);
  }
}

.flip-btn {
  position: absolute;
  font-size: 1rem;
  line-height: 1rem;
  padding: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--yellow);
  border-radius: 50% 50% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  &:hover {
    background-color: var(--team-colour);
  }
}

.image-flip {
  position: relative;
  width: 100%;
  aspect-ratio: 1;

  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0, 0, 0.58, 1);

  img {
    /* Clip borders */
    width: calc(100% + 5px);
    aspect-ratio: 1;
    object-fit: cover;
    clip-path: view-box;
  }

  .back, .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    -webkit-border-radius: 0.9rem;
    -moz-border-radius: 0.9rem;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
  }

  .front {
    img {
      filter: grayscale(100%);
    }
    &.highlighted {
      border: solid 5px var(--yellow);
      outline: 1px solid var(--plum);
    }
    &.non-spymaster {
      background-color: var(--team-colour);
      &:hover img {
        mix-blend-mode: multiply;
        transform: translate3d(0,0,0);
      }
    }
    &.spymaster {
      img {
        mix-blend-mode: multiply;
        transform: translate3d(0,0,0);
      }
      &.blue {
        background-color: var(--blue);
      }
      &.grey {
        background-color: var(--grey);
      }
      &.red {
        background-color: var(--red);
      }
      &.black {
        background-color: white;
        img {
          filter: invert(1);
        }
      }
    }
    &.spymaster:hover {
      img {
        mix-blend-mode: normal;
        transform: translate3d(0,0,0);
      }
      &.black img {
        filter: grayscale(100%);
      }
    }
  }
  .back {
    transform: rotateY(180deg);
  }
}

.image-container.flipped .image-flip {
  transform: rotateY(180deg);
  .front.non-spymaster:hover img {
    mix-blend-mode: normal; /*do not activate hover effect during flipping*/
    transform: translate3d(0,0,0);
  }
}

.image-container:has(.flip-btn:hover) .front.non-spymaster.highlighted {
  border-color: var(--team-colour);
}

.image-container, .image-flip, .front, .back, img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}
