<div class="image-container" (click)="highlightCard()" [class]="(isFlipped ? 'flipped' : '') + ' team-'+team">
  <div class="image-flip">
    <div class="front" [class]="cardClass">
      <img [src]="card.getFilePath()" alt="Front Image" />
    </div>
    <div class="back">
      <img [src]="card.getBackFilePath()" alt="Back Image" />
    </div>
  </div>
  <div class="flip-btn" (click)="flipCard()" *ngIf="turn == team && card.isSecret && card.isHighlighted && !isSpymasterMode">
    <span class="material-icons">task_alt</span>
  </div>
</div>

