.message-list{
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: start;
  .content {
    width: fit-content;
    max-width: 75%;
    background-color: var(--plum);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-size: min(1rem, 12pt);
    text-align: justify;
  }
  .sender {
    font-size: min(0.9rem, 10pt);
    padding: 0 0.5rem;
  }
}

.message.by-me {
  align-items: end;
  .content {
    background-color: var(--beige);
    color: var(--black);
    right: 0;
  }
}
