<div class="page-container mt-4 mb-4">
  <div class="header text-center container d-flex text-white mb-4 align-items-stretch justify-content-center">
    <div class="p-0">
      <img src="Spy_m.png" class="img-fluid fs-1" style="max-height:3.5em;"/>
    </div>
    <div class="d-flex flex-column justify-content-end text-white ms-md-4 ms-1 me-md-4 me-1">
      <h1 class="main-title skyfall-font">Codenames <br> <small>Pictures</small></h1>
      <h5 class="secondary-title">Become the best spy squad through one-word image associations</h5>
    </div>
    <div class="p-0">
      <img src="Spy_f.png" class="img-fluid fs-1" style="max-height:3.5em;"/>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <app-menu class="inserted-component"></app-menu>
      </div>
      <div class="col-sm-8">
        <app-manual class="inserted-component"></app-manual>
      </div>
    </div>
  </div>
</div>


